body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-gap: 25px;
  grid-template-columns: 400px 400px;
}

.textarea, .preview {
  height: 300px;
  border: 1px solid #333;
  border-radius: 10px;
  padding: 15px;
  position: relative;
}

.count {
  position: absolute;
  bottom: 15px;
  right: 15px;
}
