body {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

* {
  box-sizing: border-box;
}

.container {
  display: grid;
  grid-gap: 25px;
  grid-template:
    "hours minutes seconds"
    "start start stop"
    "reset reset reset"
}

h2 {
  text-align: center;
}

p {
  text-align: center;
  font-size: 30px;
}

button {
  width: 60px;
  height: 60px;
  background: rgba(255,255,255,0);
  font-size: 30px;
  border-radius: 5px;
}

.start {
  grid-area: start;
  background: seagreen;
  width: 100%;
}

.stop {
  grid-area: stop;
  background: lightcoral;
  width: 100%;
}

.reset {
  grid-area: reset;
  background: sandybrown;
  width: 100%;
}

.start:disabled,
.stop:disabled,
.reset:disabled {
  background: lightgrey;
}
